<h2 mat-dialog-title class="cocktail-name">
  <span
    class="cocktail-name-word"
    [class.uppercase]="word.isNumber()"
    *ngFor="let word of cocktail.name.getWords(); let i = index"
    ><!--
    This comment prevents from additional white space.
    -->{{ word
    }}<!--
    This comment prevents from additional white space.
    --><span *ngIf="i < cocktail.name.getWords().length - 1" [innerHTML]="cocktail.name.getWordSeparator(i)"></span>
  </span>
</h2>

<mat-dialog-content>
  <ul class="cocktail-ingredients">
    <li class="cocktail-ingredient" *ngFor="let ingredient of cocktail.ingredients">
      <span class="cocktail-ingredient-quantity">
        {{ cocktail.getIngredientQuantity(ingredient) }}
        <span class="cocktail-ingredient-quantity-unit">
          {{ cocktail.getIngredientUnit(ingredient) }}
        </span>
      </span>
      <span class="cocktail-ingredient-name">
        <span *ngIf="ingredient.brand || ingredient.brand === ''; else noBrand">
          {{ ingredient.name }}
        </span>
        <ng-template #noBrand>
          <span class="cocktail-ingredient-name-brand">
            <span
              class="cocktail-ingredient-name-brand-word"
              [class.uppercase]="word.isNumber()"
              *ngFor="let word of ingredient.name.getWords(); let i = index"
              ><!--
              This comment prevents from additional white space.
              -->{{ word
              }}<!--
              This comment prevents from additional white space.
              --><span
                *ngIf="i < ingredient.name.getWords().length - 1"
                [innerHTML]="ingredient.name.getWordSeparator(i)"
              ></span>
            </span>
          </span>
        </ng-template>
        <span *ngIf="ingredient.brand" class="cocktail-ingredient-name-brand">
          <span
            class="cocktail-ingredient-name-brand-word"
            [class.uppercase]="word.isNumber()"
            *ngFor="let word of ingredient.brand!.getWords(); let i = index"
            ><!--
            This comment prevents from additional white space.
            -->{{ word
            }}<!--
            This comment prevents from additional white space.
            --><span
              *ngIf="i < ingredient.brand!.getWords().length - 1"
              [innerHTML]="ingredient.brand!.getWordSeparator(i)"
            ></span>
          </span>
        </span>
      </span>
    </li>
  </ul>
  <p class="cocktail-recipe" *ngIf="cocktail.recipe">
    {{ cocktail.recipe }}
  </p>
  <p class="cocktail-garnish" *ngIf="cocktail.garnishIds">
    Décorer avec
    <span class="cocktail-garnish-name" *ngFor="let garnishId of cocktail.garnishIds; let i = index"
      >{{ getGarnishNameById(garnishId)
      }}<!--
        This comment prevents from additional white space.
        --><span *ngIf="i === cocktail.garnishIds!.length - 2; else garnishCommaSeparator">&nbsp;&&nbsp;</span>
      <ng-template #garnishCommaSeparator><span *ngIf="i < cocktail.garnishIds!.length - 1">,&nbsp;</span></ng-template
      ><!--
        This comment prevents from additional white space.
      --></span
    >.
  </p>
</mat-dialog-content>
