@use '~@angular/material' as mat;

@mixin app-dark-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .toolbar {
    background-color: #303030;
  }

  .title {
    color: #f3e5f5;
    display: flex;
    font-family: 'Pacifico', cursive;
    text-align: center;
    text-shadow: 0 0 6px #f3e5f5, 0 0 12px #f3e5f5, 0 0 18px #d500f9, 0 0 24px #d500f9, 0 0 48px #d500f9;
  }

  @media screen and (min-width: 320px) {
    .title {
      font-size: 48px;
      line-height: 60px;
    }
  }

  @media screen and (min-width: 375px) {
    .title {
      font-size: 54px;
      line-height: 72px;
    }
  }

  @media screen and (min-width: 425px) {
    .title {
      font-size: 64px;
      line-height: 80px;
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      font-size: 96px;
      line-height: 120px;
    }
  }

  .title .title-chez,
  .title .title-lulu {
    display: block;
    transform: rotate(-9deg);
  }

  @media screen and (min-width: 320px) {
    .title .title-chez,
    .title .title-lulu {
      margin: 0 6px;
    }
  }

  @media screen and (min-width: 425px) {
    .title .title-chez,
    .title .title-lulu {
      margin: 0 9px;
    }
  }

  @media screen and (min-width: 768px) {
    .title .title-chez,
    .title .title-lulu {
      margin: 0 12px;
    }
  }

  .cocktails-container {
    background-color: #303030;

    .cocktails .cocktail {
      border-bottom: dotted #484848;
    }

    .cocktails .cocktail-name {
      color: #fafafa;
    }

    .cocktail-ingredient {
      color: #bdbdbd;
    }

    .cocktail-ingredient .filtered {
      background-color: #6d6d6d80;
    }
  }
}
