<div class="container">
  <mat-toolbar class="toolbar" role="heading">
    <div class="title-container">
      <h1 class="title">
        <span class="title-chez">Chez</span>
        &nbsp;
        <span class="title-lulu">Lulu</span>
      </h1>
    </div>

    <div class="toggle-group-container">
      <mat-button-toggle-group
        class="toggle-group toggle-group-availability"
        name="toggle"
        [value]="availabilities"
        [disabled]="!cocktails.length"
        multiple
      >
        <mat-button-toggle class="toggle toggle-all" value="all" (change)="setAvailability($event)">
          Tout <span class="availability-counter">({{ getCocktailsByAvailability('all').length }})</span>
        </mat-button-toggle>

        <mat-button-toggle class="toggle toggle-available" value="available" (change)="setAvailability($event)">
          Disponible <span class="availability-counter">({{ getCocktailsByAvailability('available').length }})</span>
        </mat-button-toggle>

        <mat-button-toggle class="toggle toggle-unavailable" value="unavailable" (change)="setAvailability($event)">
          Indisponible
          <span class="availability-counter">({{ getCocktailsByAvailability('unavailable').length }})</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group
        class="toggle-group toggle-group-filter"
        (change)="toggleFilter($event)"
        [disabled]="!cocktails.length"
      >
        <mat-button-toggle
          class="toggle toggle-filter"
          [checked]="filterList.selectedOptions.selected.length > 0"
          [matMenuTriggerFor]="filterMenu"
        >
          <mat-icon class="toggle-icon toggle-filter-icon">filter_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-button-toggle-group class="toggle-group toggle-group-theme">
        <mat-button-toggle class="toggle toggle-theme" [checked]="true" [matMenuTriggerFor]="themeMenu">
          <mat-icon class="toggle-icon toggle-theme-icon" *ngIf="theme.theme === 'light-theme'; else darkThemeIcon"
            >light_mode</mat-icon
          >
          <ng-template #darkThemeIcon>
            <mat-icon class="toggle-icon toggle-theme-icon">dark_mode</mat-icon>
          </ng-template>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-menu #filterMenu="matMenu" class="filter-menu" xPosition="before" yPosition="below">
      <mat-selection-list #filterList class="filter-list" (click)="$event.stopPropagation()" [(ngModel)]="filters">
        <mat-list-option *ngFor="let ingredient of getFilterableIngredients()" [value]="ingredient.id">
          <span [class.unavailable]="!ingredient.available">
            {{ ingredient.name }} ({{ getCocktailsByIngredient(ingredient).length }})
          </span>
        </mat-list-option>
      </mat-selection-list>
    </mat-menu>

    <mat-menu #themeMenu="matMenu" class="theme-menu" xPosition="before" yPosition="below">
      <mat-radio-group class="theme-radio-group" [(ngModel)]="theme.theme">
        <mat-radio-button class="theme-radio-button" value="light-theme">Thème clair</mat-radio-button>
        <mat-radio-button class="theme-radio-button" value="dark-theme">Thème sombre</mat-radio-button>
      </mat-radio-group>
    </mat-menu>
  </mat-toolbar>

  <div class="cocktails-container">
    <ul class="cocktails">
      <li
        class="cocktail"
        *ngFor="let cocktail of displayedCocktails; trackBy: identifyCocktail"
        (click)="openCocktailDetailDialog(cocktail)"
      >
        <span class="cocktail-icon silhouette" [class.unavailable]="!isCocktailAvailable(cocktail)">{{
          getGlassIconByCocktail(cocktail)
        }}</span>

        <div>
          <span class="cocktail-name" [class.unavailable]="!isCocktailAvailable(cocktail)">
            <span
              class="cocktail-name-word"
              [class.uppercase]="isNumber(word)"
              *ngFor="let word of getWords(cocktail.name); let i = index"
              ><!--
              This comment prevents from additional white space.
              -->{{ word
              }}<!--
              This comment prevents from additional white space.
              --><span
                *ngIf="i < getWords(cocktail.name).length - 1"
                [innerHTML]="getWordSeparator(cocktail.name, i)"
              ></span>
            </span>
          </span>

          <ul class="cocktail-ingredients">
            <li class="cocktail-ingredient" *ngFor="let ingredient of cocktail.ingredients; let i = index">
              <span [class.unavailable]="!ingredient.available" [class.filtered]="isIngredientFiltered(ingredient)">{{
                ingredient.name
              }}</span
              ><!--
              This comment prevents from additional white space.
              --><span class="word-separator" *ngIf="i === cocktail.ingredients.length - 2; else commaSeparator"
                >&nbsp;&&nbsp;</span
              >
              <ng-template #commaSeparator>
                <span class="word-separator" *ngIf="i < cocktail.ingredients.length - 1">,&nbsp;</span>
              </ng-template>
            </li>
          </ul>
        </div>
      </li>

      <div class="bottom-spacer"></div>
    </ul>
  </div>
</div>

<ng-template #cocktailDetailDialog let-cocktail>
  <h2 mat-dialog-title class="cocktail-name">
    <span
      class="cocktail-name-word"
      [class.uppercase]="isNumber(word)"
      *ngFor="let word of getWords(cocktail.name); let i = index"
      ><!--
      This comment prevents from additional white space.
      -->{{ word
      }}<!--
      This comment prevents from additional white space.
      --><span *ngIf="i < getWords(cocktail.name).length - 1" [innerHTML]="getWordSeparator(cocktail.name, i)"></span>
    </span>
  </h2>

  <mat-dialog-content>
    <ul class="cocktail-ingredients">
      <li class="cocktail-ingredient" *ngFor="let ingredient of cocktail.ingredients">
        <span class="cocktail-ingredient-quantity">
          {{ getCocktailIngredientQuantity(cocktail, ingredient) }}
          <span class="cocktail-ingredient-quantity-unit">
            {{ getCocktailIngredientUnit(cocktail, ingredient) }}
          </span>
        </span>
        <span class="cocktail-ingredient-name">
          <span *ngIf="ingredient.brand || ingredient.brand === ''; else noBrand">
            {{ ingredient.name }}
          </span>
          <ng-template #noBrand>
            <span class="cocktail-ingredient-name-brand">
              <span
                class="cocktail-ingredient-name-brand-word"
                [class.uppercase]="isNumber(word)"
                *ngFor="let word of getWords(ingredient.name); let i = index"
                ><!--
                This comment prevents from additional white space.
                -->{{ word
                }}<!--
                This comment prevents from additional white space.
                --><span
                  *ngIf="i < getWords(ingredient.name).length - 1"
                  [innerHTML]="getWordSeparator(ingredient.name, i)"
                ></span>
              </span>
            </span>
          </ng-template>
          <span *ngIf="ingredient.brand" class="cocktail-ingredient-name-brand">
            <span
              class="cocktail-ingredient-name-brand-word"
              [class.uppercase]="isNumber(word)"
              *ngFor="let word of getWords(ingredient.brand); let i = index"
              ><!--
              This comment prevents from additional white space.
              -->{{ word
              }}<!--
              This comment prevents from additional white space.
              --><span
                *ngIf="i < getWords(ingredient.brand).length - 1"
                [innerHTML]="getWordSeparator(ingredient.brand, i)"
              ></span>
            </span>
          </span>
        </span>
      </li>
    </ul>
    <p class="cocktail-recipe" *ngIf="cocktail.recipe">
      {{ cocktail.recipe }}
    </p>
    <p class="cocktail-garnish" *ngIf="cocktail.garnishIds">
      Décorer avec
      <span class="cocktail-garnish-name" *ngFor="let garnishId of cocktail.garnishIds; let i = index"
        >{{ getGarnishNameById(garnishId)
        }}<!--
          This comment prevents from additional white space.
          --><span *ngIf="i === cocktail.garnishIds.length - 2; else garnishCommaSeparator">&nbsp;&&nbsp;</span>
        <ng-template #garnishCommaSeparator><span *ngIf="i < cocktail.garnishIds.length - 1">,&nbsp;</span></ng-template
        ><!--
          This comment prevents from additional white space.
        --></span
      >.
    </p>
  </mat-dialog-content>
</ng-template>
