<div class="container">
  <mat-toolbar class="toolbar" role="heading">
    <div class="title-container">
      <h1 class="title neon">
        <span class="title-lulu-s">Lulu'<span class="flicker-fast">s</span></span>
        <mat-icon class="title-cocktail-glass">local_bar</mat-icon>
        <span class="title-bar">Bar</span>
      </h1>
    </div>
  
    <div class="toggle-group-container">
      <mat-button-toggle-group class="toggle-group toggle-group-availability"
                               name="toggle"
                               [value]="availabilities"
                               [disabled]="!cocktails.length"
                               multiple>
  
        <mat-button-toggle class="toggle toggle-all" value="all" (change)="setAvailability($event)">
          Tout ({{ getCocktailsByAvailability('all').length }})
        </mat-button-toggle>
  
        <mat-button-toggle class="toggle toggle-available" value="available" (change)="setAvailability($event)">
          Disponible ({{ getCocktailsByAvailability('available').length }})
        </mat-button-toggle>
  
        <mat-button-toggle class="toggle toggle-unavailable" value="unavailable" (change)="setAvailability($event)">
          Indisponible ({{ getCocktailsByAvailability('unavailable').length }})
        </mat-button-toggle>
      </mat-button-toggle-group>
  
      <mat-button-toggle-group class="toggle-group toggle-group-filter"
                               (change)="toggleFilter($event)"
                               [disabled]="!cocktails.length">
        <mat-button-toggle class="toggle toggle-filter"
                           [checked]="filterList.selectedOptions.selected.length > 0"
                           [matMenuTriggerFor]="filterMenu">
          <mat-icon>filter_list</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  
    <mat-menu #filterMenu="matMenu" class="filter-menu" xPosition="before" yPosition="below">
      <mat-selection-list #filterList
                          class="filter-list"
                          (click)="$event.stopPropagation()"
                          [(ngModel)]="filters">
        <mat-list-option *ngFor="let ingredient of getFilterableIngredients()" [value]="ingredient.id">
          <span [class.unavailable]="!ingredient.available">
            {{ ingredient.name }} ({{ getCocktailsByIngredient(ingredient).length }})
          </span>
        </mat-list-option>
      </mat-selection-list>
    </mat-menu>
  </mat-toolbar>
  
  <div class="cocktails-container">
    <ul class="cocktails">
      <li *ngFor="let cocktail of displayedCocktails" class="cocktail">
        <span class="cocktail-icon silhouette" [class.unavailable]="!isCocktailAvailable(cocktail)">{{ getGlassIconByCocktail(cocktail) }}</span>

        <div>
          <span class="cocktail-name" [class.unavailable]="!isCocktailAvailable(cocktail)">
            <span class="cocktail-name-word" *ngFor="let word of cocktail.name.split(' '); let i = index"><!--
              This comment prevents from additional white space.
              -->{{ word }}<!--
              This comment prevents from additional white space.
              --><span *ngIf="i < cocktail.name.split(' ').length - 1">&nbsp;</span>
            </span>
          </span>
          
          <ul class="cocktail-ingredients">
            <li class="cocktail-ingredient" *ngFor="let ingredient of cocktail.ingredients; let i = index">
              <span [class.unavailable]="!ingredient.available"
                    [class.filtered]="isIngredientFiltered(ingredient)">{{ ingredient.name }}</span><!--
              This comment prevents from additional white space.
              --><span *ngIf="i < cocktail.ingredients.length - 1">,&nbsp;</span>
            </li>
          </ul>
        </div>
      </li>

      <div class="bottom-spacer"></div>
    </ul>
  </div>
</div>
