.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.toolbar {
  flex-shrink: 0;
  flex-wrap: wrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .toolbar {
    height: 148px;
    padding: 24px 24px 0;
  }
}

@media screen and (min-width: 375px) {
  .toolbar {
    height: 162px;
    padding: 24px 24px 0;
  }
}

@media screen and (min-width: 425px) {
  .toolbar {
    height: 188px;
    padding: 36px 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .toolbar {
    height: 284px;
    padding: 48px 24px 0;
  }
}

.title-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  .title {
    padding: 0;
  }
}

.theme-button-container {
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.toggle-group-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  .toggle-group-availability {
    max-width: 672px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .toggle-group-container {
    margin: 12px 0 18px;
  }
}

@media screen and (min-width: 375px) {
  .toggle-group-container {
    margin: 14px 0 18px;
  }
}

@media screen and (min-width: 425px) {
  .toggle-group-container {
    margin: 20px 0 18px;
  }
}

@media screen and (min-width: 768px) {
  .toggle-group-container {
    margin: 42px 0 24px;
  }
}

@media screen and (min-width: 320px) {
  .availability-counter {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .availability-counter {
    display: inline-block;
    vertical-align: top;
  }
}

.cocktails-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: auto;
  width: 100%;

  .cocktails {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 24px;
  }

  @media screen and (min-width: 320px) {
    .cocktails {
      width: 100%;
    }
  }

  @media screen and (min-width: 720px) {
    .cocktails {
      width: 720px;
    }
  }

  .cocktails .cocktail {
    cursor: pointer;
    display: flex;
    font-family: 'Libre Baskerville', serif;
  }

  @media screen and (min-width: 320px) {
    .cocktails .cocktail {
      padding: 12px 0;
    }

    .cocktails .cocktail:first-of-type {
      padding: 0 0 12px;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktails .cocktail {
      padding: 12px 0;
    }

    .cocktails .cocktail:first-of-type {
      padding: 2px 0 12px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktails .cocktail {
      padding: 18px 0;
    }

    .cocktails .cocktail:first-of-type {
      padding: 6px 0 18px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktails .cocktail {
      padding: 24px 0;
    }

    .cocktails .cocktail:first-of-type {
      padding: 12px 0 24px;
    }
  }

  .cocktails .cocktail:last-of-type {
    border-bottom: 0;
  }

  .cocktail-icon {
    display: block;
  }

  @media screen and (min-width: 320px) {
    .cocktail-icon {
      font-size: 32px;
      height: 48px;
      line-height: 38px;
      margin-right: 12px;
      padding-bottom: 4px;
      width: 38px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-icon {
      font-size: 40px;
      height: 46px;
      line-height: 46px;
      margin-right: 18px;
      padding-bottom: 4px;
      width: 46px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-icon {
      font-size: 48px;
      height: 54px;
      line-height: 54px;
      margin-right: 24px;
      padding-bottom: 4px;
      width: 54px;
    }
  }

  .cocktail-name {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media screen and (min-width: 320px) {
    .cocktail-name {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 18px;
      margin-bottom: 4px;
      word-spacing: 2px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-name {
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 22px;
      margin-bottom: 6px;
      word-spacing: 4px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-name {
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 28px;
      margin-bottom: 8px;
      word-spacing: 4px;
    }
  }

  .cocktail-name-word {
    // display: inline;
    display: inline-block; // FIXME: Removes `text-decoration`.
  }

  @media screen and (min-width: 320px) {
    .cocktail-name-word::first-letter {
      font-size: 18px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 18px !important;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-name-word::first-letter {
      font-size: 22px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 22px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-name-word::first-letter {
      font-size: 28px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 28px !important;
    }
  }

  .cocktail-ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cocktail-ingredient {
    display: inline-block;
  }

  @media screen and (min-width: 320px) {
    .cocktail-ingredient {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-ingredient {
      font-size: 14px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-ingredient {
      font-size: 18px;
    }
  }

  .cocktail-ingredient .filtered {
    border-radius: 4px;
  }

  .cocktail-ingredient .word-separator {
    font-style: normal;
  }

  // HACK: Prevents from last `<li>` element `margin-bottom` being "cut";
  // because of flex displaying?
  .bottom-spacer {
    padding-bottom: 0.1px;
  }
}
