/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.dark-theme {
  background-color: #303030;
}

.unavailable {
  color: #8d8d8d !important;
  text-decoration: line-through !important;
}

.silhouette {
  color: transparent !important;
  text-decoration: none !important;
  text-shadow: 0 0 0 #c7c7c7;

  &.unavailable {
    text-shadow: 0 0 0 #8d8d8d;
  }
}

.toggle-group {
  .mat-button-toggle {
    background-color: transparent;
    color: #8d8d8d;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 8px;
  }

  @media screen and (min-width: 320px) {
    .mat-button-toggle {
      font-size: 8px;
      letter-spacing: 0;
    }

    .mat-button-toggle-label-content {
      line-height: 8px;
    }
  }

  @media screen and (min-width: 375px) {
    .mat-button-toggle {
      font-size: 10px;
      letter-spacing: 1px;
    }

    .mat-button-toggle-label-content {
      line-height: 10px;
    }
  }

  @media screen and (min-width: 425px) {
    .mat-button-toggle {
      font-size: 12px;
      letter-spacing: 2px;
    }

    .mat-button-toggle-label-content {
      line-height: 12px;
    }
  }

  @media screen and (min-width: 768px) {
    .mat-button-toggle {
      font-size: 20px;
      letter-spacing: 8px;
    }

    .mat-button-toggle-label-content {
      line-height: 48px;
    }
  }

  .mat-button-toggle-label-content {
    text-transform: uppercase;
  }

  .mat-button-toggle-checked.toggle-all {
    // color: #e0f7fa;
    color: #f3e5f5;
  }

  .mat-button-toggle-checked.toggle-all .mat-button-toggle-label-content {
    // text-shadow: 0 0 6px #e0f7fa, 0 0 12px #e0f7fa, 0 0 18px #00e5ff, 0 0 24px #00e5ff;
    text-shadow: 0 0 6px #f3e5f5, 0 0 12px #f3e5f5, 0 0 18px #d500f9, 0 0 24px #d500f9;
  }

  .mat-button-toggle-checked.toggle-available {
    // color: #e8f5e9;
    color: #f3e5f5;
  }

  .mat-button-toggle-checked.toggle-available .mat-button-toggle-label-content {
    // text-shadow: 0 0 6px #e8f5e9, 0 0 12px #e8f5e9, 0 0 18px #00e676, 0 0 24px #00e676;
    text-shadow: 0 0 6px #f3e5f5, 0 0 12px #f3e5f5, 0 0 18px #d500f9, 0 0 24px #d500f9;
  }

  .mat-button-toggle-checked.toggle-unavailable {
    color: #f3e5f5;
  }

  .mat-button-toggle-checked.toggle-unavailable .mat-button-toggle-label-content {
    text-shadow: 0 0 6px #f3e5f5, 0 0 12px #f3e5f5, 0 0 18px #d500f9, 0 0 24px #d500f9;
  }

  .mat-button-toggle-checked.toggle-filter {
    // color: #fffde7;
    color: #f3e5f5;
  }

  .mat-button-toggle-checked.toggle-filter .mat-button-toggle-label-content {
    // text-shadow: 0 0 6px #fffde7, 0 0 12px #fffde7, 0 0 18px #ff0, 0 0 24px #ff0;
    text-shadow: 0 0 6px #f3e5f5, 0 0 12px #f3e5f5, 0 0 18px #d500f9, 0 0 24px #d500f9;
  }

  &.toggle-group-availability {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &.toggle-group-filter {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

@media screen and (min-width: 320px) {
  .toggle-group-filter {
    .mat-button-toggle-label-content {
      line-height: 12px;
    }

    .toggle-filter-icon {
      font-size: 12px;
      height: 12px;
      width: 12px;
    }
  }
}

@media screen and (min-width: 375px) {
  .toggle-group-filter {
    .mat-button-toggle-label-content {
      line-height: 14px;
    }

    .toggle-filter-icon {
      font-size: 14px;
      height: 14px;
      width: 14px;
    }
  }
}

@media screen and (min-width: 425px) {
  .toggle-group-filter {
    .mat-button-toggle-label-content {
      line-height: 16px;
    }

    .toggle-filter-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .toggle-group-filter {
    .mat-button-toggle-label-content {
      line-height: 48px;
    }

    .toggle-filter-icon {
      font-size: 24px;
      height: 24px;
      width: 24px;
    }
  }
}

.filter-menu {
  .mat-list-option {
    font-family: 'Libre Baskerville', serif;
  }
}

.flicker-slow {
  animation: flicker 30s linear infinite;
}

.flicker-fast {
  animation: flicker 3s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }

  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

.cocktail-detail {
  .cocktail-name {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media screen and (min-width: 320px) {
    .cocktail-name {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 18px;
      word-spacing: 2px;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-name {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 18px;
      word-spacing: 2px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-name {
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 22px;
      word-spacing: 4px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-name {
      font-size: 24px;
      letter-spacing: 2px;
      line-height: 28px;
      word-spacing: 4px;
    }
  }

  .cocktail-name-word {
    display: inline-block;
  }

  @media screen and (min-width: 320px) {
    .cocktail-name-word::first-letter {
      font-size: 18px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 18px !important;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-name-word::first-letter {
      font-size: 18px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 18px !important;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-name-word::first-letter {
      font-size: 22px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 22px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-name-word::first-letter {
      font-size: 28px !important;
    }

    .cocktail-name-word.uppercase {
      font-size: 28px !important;
    }
  }

  .cocktail-ingredients {
    list-style: none;
    margin: 0 0 8px;
    padding: 0;
  }

  .cocktail-ingredient {
    border-bottom: dotted #6d6d6d;
    display: flex;
    font-family: 'Libre Baskerville', serif;
  }

  @media screen and (min-width: 320px) {
    .cocktail-ingredient {
      font-size: 12px;
      gap: 6px;
      padding: 4px 0;
      word-spacing: 0;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-ingredient {
      font-size: 12px;
      gap: 8px;
      padding: 4px 0;
      word-spacing: 1px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-ingredient {
      font-size: 16px;
      gap: 10px;
      padding: 6px 0;
      word-spacing: 2px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-ingredient {
      font-size: 18px;
      gap: 12px;
      padding: 8px 0;
      word-spacing: 2px;
    }
  }

  .cocktail-ingredient-quantity,
  .cocktail-ingredient-name {
    display: inline-block;
  }

  .cocktail-ingredient-name {
    font-style: italic;
  }

  .cocktail-ingredient-name-brand {
    font-style: normal;
    text-transform: uppercase;
  }

  @media screen and (min-width: 320px) {
    .cocktail-ingredient-name-brand {
      font-size: 9px;
      letter-spacing: 0;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-ingredient-name-brand {
      font-size: 10px;
      letter-spacing: 0.5px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-ingredient-name-brand {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-ingredient-name-brand {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  .cocktail-ingredient-name-brand-word {
    display: inline-block;
  }

  @media screen and (min-width: 320px) {
    .cocktail-ingredient-name-brand-word::first-letter {
      font-size: 12px !important;
    }

    .cocktail-ingredient-name-brand-word.uppercase {
      font-size: 12px !important;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-ingredient-name-brand-word::first-letter {
      font-size: 12px !important;
    }

    .cocktail-ingredient-name-brand-word.uppercase {
      font-size: 12px !important;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-ingredient-name-brand-word::first-letter {
      font-size: 16px !important;
    }

    .cocktail-ingredient-name-brand-word.uppercase {
      font-size: 16px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-ingredient-name-brand-word::first-letter {
      font-size: 18px !important;
    }

    .cocktail-ingredient-name-brand-word.uppercase {
      font-size: 18px !important;
    }
  }

  .cocktail-ingredient-quantity {
    font-style: italic;
  }

  @media screen and (min-width: 320px) {
    .cocktail-ingredient-quantity {
      min-width: 50px;
      width: 50px;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-ingredient-quantity {
      min-width: 58px;
      width: 58px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-ingredient-quantity {
      min-width: 74px;
      width: 74px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-ingredient-quantity {
      min-width: 80px;
      width: 80px;
    }
  }

  .cocktail-ingredient-quantity-unit {
    font-style: normal;
    text-transform: uppercase;
  }

  @media screen and (min-width: 320px) {
    .cocktail-ingredient-quantity-unit {
      font-size: 9px;
      letter-spacing: 0;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-ingredient-quantity-unit {
      font-size: 10px;
      letter-spacing: 0.5px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-ingredient-quantity-unit {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-ingredient-quantity-unit {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  .cocktail-recipe,
  .cocktail-garnish {
    font-family: 'Libre Baskerville', serif;
  }

  @media screen and (min-width: 320px) {
    .cocktail-recipe,
    .cocktail-garnish {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-recipe,
    .cocktail-garnish {
      font-size: 12px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-recipe,
    .cocktail-garnish {
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-recipe,
    .cocktail-garnish {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 320px) {
    .cocktail-recipe {
      margin-top: 12px;
    }
  }

  @media screen and (min-width: 375px) {
    .cocktail-recipe {
      margin-top: 12px;
    }
  }

  @media screen and (min-width: 425px) {
    .cocktail-recipe {
      margin-top: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    .cocktail-recipe {
      margin-top: 16px;
    }
  }

  .cocktail-garnish {
    margin-bottom: 0;
  }

  .cocktail-garnish-name {
    text-transform: lowercase;
  }
}
