@use '@angular/material' as mat;

// stylelint-disable no-invalid-position-at-import-rule
@import 'app/app.component.theme-dark';
@import 'app/app.component.theme-light';

@include mat.core();

$dark-theme-green: (
  50: #e0fcef,
  100: #b3f8d6,
  200: #80f3bb,
  300: #4dee9f,
  400: #26ea8b,
  500: #00e676,
  600: #00e36e,
  700: #00df63,
  800: #00db59,
  900: #00d546,
  A100: #fcfffd,
  A200: #c9ffd7,
  A400: #96ffb2,
  A700: #7dff9f,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

$light-theme-red: (
  50: #f0e0e0,
  100: #d9b3b3,
  200: #bf8080,
  300: #a54d4d,
  400: #922626,
  500: #7f0000,
  600: #700,
  700: #000,
  800: #620000,
  900: #4f0000,
  A100: #ff8282,
  A200: #ff4f4f,
  A400: #ff1c1c,
  A700: #ff0303,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #fff,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #fff,
    A700: #fff,
  ),
);

$dark-theme-primary: mat.define-palette($dark-theme-green, 500);
$dark-theme-accent: mat.define-palette($dark-theme-green, 500);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-theme-primary,
      accent: $dark-theme-accent,
    ),
  )
);

$light-theme-primary: mat.define-palette($light-theme-red, 500);
$light-theme-accent: mat.define-palette($light-theme-red, 500);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-theme-primary,
      accent: $light-theme-accent,
    ),
  )
);

@mixin global-theme($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary,
  );
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include global-theme($dark-theme);
  @include app-dark-theme($dark-theme);

  .unavailable {
    color: #8d8d8d !important;
  }

  .silhouette {
    color: transparent !important;
    text-decoration: none !important;
    text-shadow: 0 0 0 #c7c7c7;
  }

  .silhouette.unavailable {
    text-shadow: 0 0 0 #8d8d8d;
  }

  .mat-pseudo-checkbox-checked {
    background-color: #e8f5e9 !important;
    box-shadow: 0 0 6px #e8f5e9, 0 0 12px #e8f5e9, 0 0 18px #00e676, 0 0 24px #00e676;
    color: #00e676 !important;
  }

  .mat-radio-checked .mat-radio-inner-circle {
    background-color: #e8f5e9 !important;
  }

  .mat-radio-checked .mat-radio-outer-circle {
    border-color: #e8f5e9 !important;
    box-shadow: 0 0 6px #e8f5e9, 0 0 12px #e8f5e9, 0 0 18px #00e676, 0 0 24px #00e676;
  }

  .toggle-group {
    border-color: #6d6d6d !important;
  }

  .toggle-group .mat-button-toggle {
    color: #8d8d8d;
    font-family: 'Exo 2', sans-serif;
  }

  .toggle-group .mat-button-toggle-checked {
    color: #e8f5e9 !important;
  }

  .mat-button-toggle + .mat-button-toggle::before {
    color: #8d8d8d;
  }

  .mat-button-toggle-checked .mat-button-toggle-label-content {
    text-shadow: 0 0 6px #e8f5e9, 0 0 12px #e8f5e9, 0 0 18px #00e676, 0 0 24px #00e676;
  }

  .theme-menu .theme-radio-button {
    color: #fff;
  }

  .cocktail-detail .cocktail-ingredient {
    border-color: #6d6d6d;
  }

  // stylelint-disable selector-max-compound-selectors
  .cocktail-name.unavailable + .cocktail-ingredients .cocktail-ingredient {
    color: #8d8d8d !important;
  }
  // stylelint-enable selector-max-compound-selectors

  .filters-dialog-button {
    font-family: 'Exo 2', sans-serif;
  }

  .filters-dialog .mat-list-item {
    border-color: #6d6d6d !important;
  }
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include global-theme($light-theme);
  @include app-light-theme($light-theme);

  color: #260e04;

  .unavailable {
    color: #bcaaa4 !important;
  }

  .silhouette {
    color: transparent !important;
    text-decoration: none !important;
    text-shadow: 0 0 0 #725b53;
  }

  .silhouette.unavailable {
    text-shadow: 0 0 0 #bcaaa4;
  }

  .mat-pseudo-checkbox-checked {
    background-color: #7f0000 !important;
  }

  .mat-radio-checked .mat-radio-inner-circle {
    background-color: #7f0000 !important;
  }

  .mat-radio-checked .mat-radio-outer-circle {
    border-color: #7f0000 !important;
  }

  .mat-menu-panel,
  .mat-dialog-container {
    background: #fffff0;
  }

  .mat-list-option,
  .mat-dialog-container {
    color: #260e04 !important;
  }

  .toggle-group {
    border-color: #bcaaa4 !important;
  }

  .toggle-group .mat-button-toggle {
    color: #bcaaa4;
    font-family: 'Libre Franklin', sans-serif;
  }

  .toggle-group .mat-button-toggle-checked {
    color: #260e04 !important;
  }

  .mat-button-toggle + .mat-button-toggle::before {
    color: #bcaaa4;
  }

  .cocktail-detail .cocktail-name {
    color: #7f0000;
  }

  // stylelint-disable no-descending-specificity
  .cocktail-detail .cocktail-ingredient {
    border-color: #bcaaa4;
  }
  // stylelint-enable no-descending-specificity

  // stylelint-disable selector-max-compound-selectors
  .cocktail-name.unavailable + .cocktail-ingredients .cocktail-ingredient {
    color: #bcaaa4 !important;
  }
  // stylelint-enable selector-max-compound-selectors

  .filters-dialog .filters-dialog-title {
    color: #7f0000;
  }

  .filters-dialog-button {
    background-color: #7f0000;
    color: #fffff0;
    font-family: 'Libre Franklin', sans-serif;
  }

  .filters-dialog-button.mat-button-disabled {
    background-color: #7f0000;
    color: #260e04;
  }

  .filters-dialog .mat-list-item {
    border-color: #bcaaa4 !important;
  }

  .filters-dialog .mat-pseudo-checkbox {
    color: #bcaaa4;
  }
}
